<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
      <div class="col-8 barra">
        <img src="assets/brand_logo.png" class="img-fluid" alt="">
      </div>
      <div class="col-4 text-right barra">
        <ul class="navbar-nav mr-auto">
          <li>
            <a href="#" class="text-light perfil dropdown-toggle" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-user-circle user"></i>
               &nbsp; Est. Michael Javier Robles Ledesma
              </a>
  
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
              <a class="dropdown-item menuperfil cerrar" href=" "><i class="fas fa-sign-out-alt m-1"></i>Salir
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
    <div class="container-fluid">
        <div class="row">
            
        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-dash></app-menu-dash>
        </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="columna col-lg-6" >
  
                          <figure class="text-center" style="margin-left: 20% ;">
                            <h1 class="h1" style="color: rgb(18, 69, 122);">Reservar Laboratorio</h1>
                            <p aria-hidden="true">
                              <span class="placeholder col-3" style="background-color: rgb(255, 219, 0);"></span>
                            </p>
                          </figure>

                          
                        <div class="row align-items-start">

                              <div class="col"> 
                                  <form class="row g-3" style="margin-left: 30%; width: 500px;">
                                      <div class="col-12">
                                          <label for="inputAddress" class="form-label">Número de Cedula: </label>
                                          <input type="text" class="form-control" id="inputAddress" placeholder="1234568790">
                                        </div>
                                      <div class="col-12">
                                          Laboratorio:
                                          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                          
                                              <option selected>Selecciona un Laboratorio</option>
                                              <option value="1">LABORATORIO DE IHM</option>
                                              <option value="2">LABORATORIO DE NETWORKING 1</option>
                                              <option value="3">LABORATORIO DE NETWORKING 2</option>
                                              <option value="4">LABORATORIO DE NETWORKING 3</option>
                                              <option value="5">LABORATORIO DE COMPUTACION AVANZADA</option>
                                            </select>
                                      </div>
                                      
                                      <div class="col-md-12">
                                          <label for="inputDate" class="form-label">Fecha de Reserva:</label>
                                          <input type="date" class="form-control" id="inputDate">
                                      </div>
                                      <div class="col-12">
                                          <label for="inputTime" class="form-label">Hora de Reserva: </label>
                                          <input type="time" class="form-control" id="inputTime" placeholder="1234568790">
                                      </div>  

                                      <figure class="text-center">
                                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                              Reservar Laboratorio
                                          </button>
                                      </figure>
                                      
                                  </form>
                              </div>
                        </div>
                   
                
                    </div>

                </div>
  
            </main>
        </div>
    </div>
  
    
                                      

               