<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
      <div class="col-8 barra">
        <img src="assets/brand_logo.png" class="img-fluid" alt="">
      </div>
      <div class="col-4 text-right barra">
        <ul class="navbar-nav mr-auto">
          <li>
            <a href="#" class="text-light perfil dropdown-toggle" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-user-circle user"></i>
               &nbsp; Est. Michael Javier Robles Ledesma
              </a>
  
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
              <a class="dropdown-item menuperfil cerrar" href=" "><i class="fas fa-sign-out-alt m-1"></i>Salir
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  

    <div class="container-fluid">
        <div class="row">
            
        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-dash></app-menu-dash>
        </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="columna col-lg-6">
                        <figure class="text-center">
                            <h1 class="h1" style="color: rgb(18, 69, 122);">Calificar Eventos</h1>
                            <p aria-hidden="true">
                              <span class="placeholder col-3" style="background-color: rgb(255, 219, 0);"></span>
                            </p>
                          </figure>
                
                          <div class="form-horario">
                            <form>
                              <figure class="text-center">
                              <div class="mb-3">
                               
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Eventos..</option>
                                  <option value="Networking 1">Evento Networking 1</option>
                                  <option value="Networking 2">Evento  Networking 2</option>
                                  <option value="Networking 3">Evento  Networking 3</option>
                                  <option value="Interacción humano maquiná">Evento  Interacción humano maquiná</option>
                                  <option value="Computación avanzada">Evento  Computación avanzada</option>
                                </select>
                              </div>
                              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">Desplegar Evento</button>
                              </figure>
                            </form>
                          </div>
                        
                    </div>

                </div>

            </main>
        </div>
    </div>


