.cuerpo{
    padding: 1rem 2rem;
    max-width: 70%;
    align-items: center;
}
.informacion{
    border-top: dotted 1px black;
    padding-top: 1rem;
    display: flex;
}
.formulario{
    margin-right: 2rem;
    border-right: solid 1px black;
}

.impresion{
    margin-top: 1rem;
    text-align: center;
}

table{
    border-collapse: separate;
    border-spacing: 10px 10px;
  }


.barra-lateral{
    padding: 0;
}

.factura_container{
    text-align: center;
    justify-content: center;
}